@import " _variables.scss"; 

html{
    height: 100%; 
    
}

// **********************************************************
//body code
body{
    margin: 0; 
    height: 100%;
    display: grid;
/*    I need this for the desktop view*/
    grid:{
        template-columns: [col-1-start]1fr[col-1-end col-2-start]  3fr [col-2-end]; 
        template-rows: 1.5rem 4.5rem auto 4.5rem;
        template-areas:  "dr dr"
                          "hd hd "
                          "sd main"
                          "ft ft"; 
        gap: 5px;
    }
}
// **********************************************************
//dr code
.dr{
    display: grid; 
  grid-area: dr;
   justify-items: end;
    background-color: lightpink; 
    
   
    .sub-dr{
    display: grid;
        grid:{
            template-areas: "dr1 dr2 dr3";
            template-columns:  autos; 
            
        }
      .dr1{
    grid-area:dr1; 
    font-size: $fontsize-br;
    list-style: map-get($padding-list-style, list-style);
          padding: $padding-drs-full;
}
        .dr2{
    grid-area: dr2;
      font-size: $fontsize-br;
              list-style: map-get($padding-list-style, list-style);
                  padding: $padding-drs-full;
}

         .dr3{
    grid-area:dr3;
      font-size: $fontsize-br;
               list-style: map-get($padding-list-style, list-style);
                   padding: $padding-drs-full;
}
        
        .dr1 a, .dr2 a, .dr3 a{
    text-decoration: none;
       font-weight: 800; 
    color:#000;
}    
    }
}

// **********************************************************
//Header code 

header{
    background-color: rgba(152, 251, 152, 0.4); 
    display: grid;
    grid:{
        template-columns: 1fr 1fr;
        template-areas: "menu1 menu2";
        area: hd; 
    }   
}

.menu1{
  list-style: map-get($padding-list-style, list-style);
    padding:map-get($padding-list-style, padding); 
    text-align:right;
    grid-area: menu1; 

}

.menu2{
    list-style: map-get($padding-list-style, list-style);
    padding:map-get($padding-list-style, padding); 
    text-align:left;
       grid-area:menu2;

}

.header-menu1,
.header-menu2{
    text-decoration: none;
    font-size: 2rem;
}


// **********************************************************
//aside code
aside{
    background-color: rgba(175, 238, 238, 0.4); 
    grid-area: sd;  
}
.sub-aside {
        
    li{
   
        list-style: map-get($padding-list-style, list-style);
          padding:map-get($padding-list-style, padding); 
        a{
           text-decoration: $text-decoration; 
            
        }
    }
}
// **********************************************************
//main code
main{
    background-color:rgba( 221, 160, 221, 0.4); 
    grid-area: main; 
    h1{
        
        margin: $margin-main;
         }
    
        .container-flowers{
               margin:15px;
            display: grid;
            text-align: center;
            
            li{
                list-style:map-get($padding-list-style,list-style);
            }
            grid:{
               template-columns: repeat(3, 1fr); 
               
                template-areas: "img1 img2 img3 "
                                "img4 img5 img6";
                gap:15px;
               
            }
            .img-container1{
                grid-area: "img1;"; 
               
            }
            
            .img-container2{
                grid-area: "img2"; 
            }
            .img-container3{
                grid-area:"img3"; 
            }
            .img-container4{
                grid-area:"img4"; 
            }
            .img-container5{
                grid-area:"img5"; 
                
            }
            .img-container6{
                grid:"img6"; 
                
            } 
            
            img{
             width:100%;
                box-shadow: $image-shadow;
                
            }
            
        }
      
   
}
// **********************************************************
//footer code
footer{
    background-color: rgba(255, 239, 213, 0.4); 
grid-area: ft;
    .footer-main{
        display: grid;
        grid:{
            template-columns: repeat(3, 1fr); 
            template-areas: "ft1 ft2 ft3"; 
            
        }
        
        .footer1{
            grid-area:ft1;
            text-align: center; 
            img{
                width:20px; 
                height:20px;
            }
           
        }
         .footer1{
            display: grid; 
            grid:{
                template-columns: repeat(3, 1fr); 
                template-rows: auto auto; 
                template-areas: "fhd fhd fhd"
                                 "sm1 sm2 sm3";
            }
            
            .fhd{
                grid-area: fhd; 
            }
            .sm1{
                grid-area: sm1; 
            }
            .sm2{
                grid-area: sm2; 
                
            }
            .sm3{
                grid-area: sm3; 
            }
        }
        .footer2{
            grid-area:ft2; 
             text-align: center; 
        }
        .footer3{
            grid-area:ft3;
             text-align: center; 
        }
    }
}

// **********************************************************
//Mobile responsibe code

@media(max-width: 40rem){
    body{
  
    grid-template-rows: 1.5rem 4.5rem 4rem auto 4.5rem;
    grid-template-areas:   "dr dr" 
                           "hd hd"
                           "sd sd"
                          "main main"
                           "ft ft";   
}
    //dr *************************************
    .dr{
        
       li{
          
            padding: 0;
         a{
             font-size: 0.7rem;
             
         }
        }
    }
   //dr *************************************  
    
//aside *************************************
   
   .sub-dr li{
   list-style: map-get($padding-list-style, list-style);
    padding:map-get($padding-list-style, padding); 
    text-align: center;

}
    aside{
        position: relative;
    }
.sub-aside{
    display: grid; 
    grid-template-columns: repeat(3,1fr);
    position: absolute;
    top: 14px;
    
left:15%;
    right:20%;
    text-align: center;
    }
  //aside ******************************************
    
    main{
        h1{
            text-align: center;
            font-size: 1.5rem;
        }
        .container-flowers{
            margin: 0 auto;
            grid:{
                template-columns: 1fr; 
                template-areas: "img1"
                                "img2"
                                "img3"
                                "img4"
                                "img5"
                                "img6"; 
                
            }
            width:300px;
            img{
                width:300px;
            }
        }
    }
    
      //asid******************************************
    
    footer{
        .footer-main{
            display: grid; 
            grid:{
                template-columns: 1fr; 
                template-areas:"ft1"
                               "ft2"
                               "ft3";
                
            }
            p{
                margin: map-get($padding-list-style, margin); 
            }
        }
        

    }
}

//****************************************************
//Mobile responsibe code