* {
  font-family: 'Roboto', sans-serif; }

html {
  height: 100%; }

body {
  margin: 0;
  height: 100%;
  display: grid;
  /*    I need this for the desktop view*/
  grid-template-columns: [col-1-start] 1fr [col-1-end col-2-start] 3fr [col-2-end];
  grid-template-rows: 1.5rem 4.5rem auto 4.5rem;
  grid-template-areas: "dr dr" "hd hd " "sd main" "ft ft";
  grid-gap: 2px; }

.dr {
  display: grid;
  grid-area: dr;
  justify-items: end;
  background-color: #7AAD3E; }
  .dr .sub-dr {
    display: grid;
    grid-template-areas: "dr1 dr2 dr3";
    grid-template-columns: autos; }
    .dr .sub-dr .dr1 {
      grid-area: dr1;
      font-size: 0.8rem;
      list-style: none;
      padding: 5px; }
    .dr .sub-dr .dr2 {
      grid-area: dr2;
      font-size: 0.8rem;
      list-style: none;
      padding: 5px; }
    .dr .sub-dr .dr3 {
      grid-area: dr3;
      font-size: 0.8rem;
      list-style: none;
      padding: 5px; }
    .dr .sub-dr .dr1 a, .dr .sub-dr .dr2 a, .dr .sub-dr .dr3 a {
      text-decoration: none;
      font-weight: 700;
      color: #FFF; }

header {
  background-color: rgba(152, 251, 152, 0.4);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "menu1 menu2";
  grid-area: hd; }

.menu1 {
  list-style: none;
  padding: 10px;
  text-align: right;
  grid-area: menu1; }

.menu2 {
  list-style: none;
  padding: 10px;
  text-align: left;
  grid-area: menu2; }

.header-menu1,
.header-menu2 {
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700; }

aside {
  background-color: #deeff7;
  grid-area: sd; }

.sub-aside li {
  list-style: none;
  padding: 10px; }
  .sub-aside li a {
    text-decoration: none; }

main {
  background-color: rgba(221, 160, 221, 0.4);
  grid-area: main; }
  main h1 {
    margin: 10px; }
  main .container-flowers {
    margin: 15px;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "img1 img2 img3 " "img4 img5 img6";
    grid-gap: 15px; }
    main .container-flowers li {
      list-style: none; }
    main .container-flowers .img-container1 {
      grid-area: "img1;"; }
    main .container-flowers .img-container2 {
      grid-area: "img2"; }
    main .container-flowers .img-container3 {
      grid-area: "img3"; }
    main .container-flowers .img-container4 {
      grid-area: "img4"; }
    main .container-flowers .img-container5 {
      grid-area: "img5"; }
    main .container-flowers .img-container6 {
      grid: "img6"; }
    main .container-flowers img {
      width: 100%;
      box-shadow: 10px 10px 5px grey; }

footer {
  background-color: #24263B;
  grid-area: ft;
  color: #7F93B3;
  font-size: .8rem; }
  footer .footer-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "ft1 ft2 ft3"; }
    footer .footer-main .footer1 {
      grid-area: ft1;
      text-align: center; }
      footer .footer-main .footer1 img {
        width: 20px;
        height: 20px; }
    footer .footer-main .footer1 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto auto;
      grid-template-areas: "fhd fhd fhd" "sm1 sm2 sm3"; }
      footer .footer-main .footer1 .fhd {
        grid-area: fhd; }
      footer .footer-main .footer1 .sm1 {
        grid-area: sm1; }
      footer .footer-main .footer1 .sm2 {
        grid-area: sm2; }
      footer .footer-main .footer1 .sm3 {
        grid-area: sm3; }
    footer .footer-main .footer2 {
      grid-area: ft2;
      text-align: center; }
    footer .footer-main .footer3 {
      grid-area: ft3;
      text-align: center; }

@media (max-width: 40rem) {
  body {
    grid-template-rows: 1.5rem 4.5rem 4rem auto 4.5rem;
    grid-template-areas: "dr dr" "hd hd" "sd sd" "main main" "ft ft"; }

  .dr li {
    padding: 0; }
    .dr li a {
      font-size: 0.7rem; }

  .sub-dr li {
    list-style: none;
    padding: 10px;
    text-align: center; }

  aside {
    position: relative; }

  .sub-aside {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    top: 14px;
    left: 15%;
    right: 20%;
    text-align: center; }

  main h1 {
    text-align: center;
    font-size: 1.5rem; }
  main .container-flowers {
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-areas: "img1" "img2" "img3" "img4" "img5" "img6";
    width: 300px; }
    main .container-flowers img {
      width: 300px; }

  footer .footer-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "ft1" "ft2" "ft3"; }
    footer .footer-main p {
      margin: 0; } }

/*# sourceMappingURL=main.css.map */
