* {
  font-family: 'Roboto', sans-serif; }

html {
  height: 100%; }

body {
  margin: 0;
  height: 100%;
  display: grid;
  /*    I need this for the desktop view*/
  grid-template-columns: [col-1-start] 1fr [col-1-end col-2-start] 3fr [col-2-end];
  grid-template-rows: 1.5rem 4.5rem auto 4.5rem;
  grid-template-areas: "dr dr" "hd hd " "sd main" "ft ft"; }

.dr {
  display: grid;
  grid-area: dr;
  justify-items: end;
  background-color: #94a8b0; }
  .dr .sub-dr {
    display: grid;
    grid-template-areas: "dr1 dr2 dr3";
    grid-template-columns: autos; }
    .dr .sub-dr .dr1 {
      grid-area: dr1;
      font-size: 0.8rem;
      list-style: none;
      padding: 5px; }
    .dr .sub-dr .dr2 {
      grid-area: dr2;
      font-size: 0.8rem;
      list-style: none;
      padding: 5px; }
    .dr .sub-dr .dr3 {
      grid-area: dr3;
      font-size: 0.8rem;
      list-style: none;
      padding: 5px; }
    .dr .sub-dr .dr1 a, .dr .sub-dr .dr2 a, .dr .sub-dr .dr3 a {
      text-decoration: none;
      font-weight: 700;
      color: #fff; }

header {
  background-color: rgba(134, 178, 194, 0.4);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "menu1 menu2 menu3";
  grid-area: hd;
  align-items: center;
  position: relative; }

.menu1 {
  list-style: none;
  padding: 10px;
  text-align: center;
  grid-area: menu1; }

.menu1:hover a, .menu2:hover a, .menu3:hover a {
  color: grey;
  text-shadow: 2px 2px 8px lightgrey; }

.menu2 {
  list-style: none;
  padding: 10px;
  text-align: center;
  grid-area: menu2; }

.menu3 {
  list-style: none;
  padding: 10px;
  text-align: center;
  grid-area: menu3; }

.header-menu1,
.header-menu2,
.header-menu3 {
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700; }

aside {
  background-color: rgba(222, 239, 247, 0.6);
  grid-area: sd; }
  aside .north-america, aside .central-america, aside .south-america {
    height: 150px;
    width: 150px; }

li {
  list-style: none;
  padding: 10px; }
  li a {
    text-decoration: none;
    color: #1a1500; }

main {
  background-color: rgba(174, 198, 207, 0.5);
  grid-area: main; }
  main h1 {
    margin: 10px; }
  main .container-flowers {
    margin: 15px;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "img1 img2 img3" "img4 img5 img6";
    grid-gap: 15px; }
    main .container-flowers li {
      list-style: none; }
    main .container-flowers .img-container1 p, main .container-flowers .img-container2 p, main .container-flowers .img-container3 p, main .container-flowers .img-container4 p, main .container-flowers .img-container5 p, main .container-flowers .img-container6 p {
      margin-bottom: 0; }
    main .container-flowers .img-container1 {
      grid-area: "img1;"; }
    main .container-flowers .img-container2 {
      grid-area: "img2"; }
    main .container-flowers .img-container3 {
      grid-area: "img3"; }
    main .container-flowers .img-container4 {
      grid-area: "img4"; }
    main .container-flowers .img-container5 {
      grid-area: "img5"; }
    main .container-flowers .img-container6 {
      grid: "img6"; }
    main .container-flowers img {
      width: 100%;
      box-shadow: 10px 10px 5px grey; }

footer {
  background-color: rgba(36, 38, 59, 0.8);
  grid-area: ft;
  color: #fff;
  font-size: .8rem; }
  @media (min-width: 41rem) {
    footer {
      padding-top: 10px; }
      footer .footer1 {
        padding-top: 8px; }
        footer .footer1 .fhd {
          padding-bottom: 6px; } }
  footer .footer-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "ft1 ft2 ft3"; }
    footer .footer-main .footer1 {
      grid-area: ft1;
      text-align: center; }
      footer .footer-main .footer1 .facebook-icon, footer .footer-main .footer1 .twitter, footer .footer-main .footer1 .envelope {
        width: 20px;
        height: 20px;
        fill: white; }
    footer .footer-main .footer1 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto auto;
      grid-template-areas: "fhd fhd fhd" "sm1 sm2 sm3"; }
      footer .footer-main .footer1 .fhd {
        grid-area: fhd; }
      footer .footer-main .footer1 .sm1 {
        grid-area: sm1; }
      footer .footer-main .footer1 .sm2 {
        grid-area: sm2; }
      footer .footer-main .footer1 .sm3 {
        grid-area: sm3; }
    footer .footer-main .footer2 {
      grid-area: ft2;
      text-align: center; }
    footer .footer-main .footer3 {
      grid-area: ft3;
      text-align: center; }

@media (max-width: 40rem) {
  body {
    grid-template-rows: 1.5rem 4.5rem 4rem auto 4.5rem;
    grid-template-areas: "dr dr" "hd hd" "sd sd" "main main" "ft ft"; }

  .backdrop {
    visibility: hidden;
    height: 100%; }
    .backdrop .backdrop-navigation {
      display: none;
      width: 60%;
      height: 100%;
      background-color: #fff; }
      .backdrop .backdrop-navigation .ul-nav {
        margin: 0;
        padding-left: 0 !important; }
        .backdrop .backdrop-navigation .ul-nav .menu1-mobile, .backdrop .backdrop-navigation .ul-nav .menu2-mobile, .backdrop .backdrop-navigation .ul-nav .menu3-mobile {
          text-align: center; }
        .backdrop .backdrop-navigation .ul-nav .menu1-mobile:hover, .backdrop .backdrop-navigation .ul-nav .menu2-mobile:hover, .backdrop .backdrop-navigation .ul-nav .menu3-mobile:hover {
          background-color: burlywood; }

  .dr {
    justify-items: center; }
    .dr li {
      padding: 0; }
      .dr li a {
        font-size: 0.7rem; }

  header .header-menu1,
  header .header-menu2,
  header .header-menu3 {
    font-size: 1.5rem; }

  .sub-dr li {
    list-style: none;
    padding: 10px;
    text-align: center; }

  aside {
    position: relative; }

  .sub-aside {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    top: 3px;
    left: 0;
    right: 0; }

  .north-america, .central-america, .south-america {
    display: none; }

  main h1 {
    text-align: center;
    font-size: 1.5rem; }
  main .container-flowers {
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-areas: "img1" "img2" "img3" "img4" "img5" "img6";
    width: 300px; }
    main .container-flowers img {
      width: 300px; }

  footer .footer-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "ft1" "ft2" "ft3"; }
    footer .footer-main p {
      margin: 0; } }

/*# sourceMappingURL=main.css.map */
